/* WinBox style */
.wb-body {
  background: linear-gradient(180deg, rgba(var(--backgroundRgb), 0.59) 0%, rgba(var(--mainRgb), 0.0008869) 100%) !important;
  top: 25px !important;
  overflow: auto;
  scrollbar-gutter: stable both-edges;
}

.winbox {
  line-height: 2;
  letter-spacing: 1px;
}

.wb-body iframe {
  position: relative !important;
  height: 0;
}

.wb-title {
  font-family: 'Barlow', 'Arial' !important;
  font-size: 12px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--windowTitle);
}

.wb-w, .wb-e {
  cursor: ew-resize !important;
}

.wb-n, .wb-s {
  cursor: ns-resize !important;
}

.wb-nw, .wb-se {
  cursor: nwse-resize !important;
}

.wb-ne, .wb-sw {
  cursor: nesw-resize !important;
}

.winbox {
  background: var(--windowBackground) !important;
}

.wb-warning {
  background: var(--windowRedBackground) !important;
}

.wb-warning .wb-body {
  background: rgba(var(--backgroundRgb), 0.9) !important;
}

.wb-warning .cornerBorder:before, .wb-warning .cornerBorder:after, .wb-warning .cornerBorder>:first-child:before, .wb-warning .cornerBorder>:first-child:after {
  border-color: var(--red);
}

.wb-warning .wb-title {
  color: var(--windowRedTitle);
}

.wb-warning .wb-icon * {
  background: var(--windowRedTitle) !important;
}

.wb-transparent {
  background: transparent !important
}

.wb-transparent .wb-body {
  background: transparent !important
}

.wb-header, .wb-icon {
  height: 25px !important;
}

.wb-min {
  background-size: 10px auto !important;
  background-position: center bottom 8px !important;
}

.wb-max {
  background-size: 14px auto !important;
}

.wb-close {
  background-size: 11px auto !important;
}

.wb-icon * {
  width: 25px !important;
}

.wb-icon *:hover {
  opacity: 0.5;
}

.wb-icon * {
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background: var(--windowTitle);
}

.wb-min {
  mask-image: url("icons/min.svg");
  -webkit-mask-image: url("icons/min.svg");
  height: 19px;
  mask-size: 11px;
  -webkit-mask-size: 12px;
}

.wb-close {
  mask-image: url("icons/close.svg");
  -webkit-mask-image: url("icons/close.svg");
  mask-size: 11px;
  -webkit-mask-size: 11px;
}

.wb-max {
  mask-image: url("icons/max.svg");
  -webkit-mask-image: url("icons/max.svg");
  mask-size: 14px;
  -webkit-mask-size: 14px;
}

/* terminal style */
textfile {
  background: rgba(var(--backgroundRgb), 0.7);
  color: rgba(var(--textRgb), 0.85);
  display: block;
  margin: 10px !important;
  padding: 20px 30px;
}

textfile>div:first-child {
  overflow: auto;
}

.textFileTitle {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  white-space: nowrap;
}

.textFileTitle::before {
  content: "";
  background-color: var(--text);
  height: 2px;
  width: 100%;
  margin-right: 1rem;
}

.textFileTitle::after {
  content: "";
  background-color: var(--text);
  height: 2px;
  width: 100%;
  margin-left: 1rem;
}

.collapsible-block {
  background: rgba(var(--textRgb), 0.04);
  padding: 15px;
  margin: 10px 0;
}

.selectList {
  margin: 13px 0;
  padding: 6px;
  background: none;
  font-family: inherit;
  border-radius: 4px;
  color: var(--text);
}

.selectList option {
  color: black;
}

.collapsible-block-link {
  cursor: pointer;
  color: var(--link);
}

.collapsible-block-link:hover {
  color: var(--linkContrast);
  background: var(--link)
}

.loadingFile, #switchTabLoading {
  font-family: 'Ubuntu Mono', monospace;
  display: flex !important;
}

.loadingFile {
  margin: auto !important;
  padding: 0px 15px;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
}

.loadingFile:first-child {
  word-break: break-all;
}

#switchTabLoading {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2;
  letter-spacing: 1px;
}

#tabContent {
  height: 100%;
  width: 100%;
  display: none;
}

.generalBtn {
  margin: auto;
}

.generalBtn blockquote {
  padding: 7px;
  flex: 1;
  margin: 10px;
  cursor: pointer;
}

.generalBtn blockquote div {
  background: none;
  padding: 10px;
  text-align: center;
  transition: 100ms ease-in-out;
}

.generalBtn blockquote div:hover {
  background: rgba(var(--textRgb), 0.04);
}

.generalBtn blockquote div:active {
  background: rgba(var(--textRgb), 0.1);
}

.btnImg {
  display: inline-block;
  width: 9px;
  margin-right: 1ch;
}

.redGeneralBtn {
  width: 30%;
  margin: 0 15px;
  color: var(--red);
}

.redGeneralBtn blockquote {
  outline: 1px solid rgba(var(--redRgb), .3);
}

.redGeneralBtn blockquote:before, .redGeneralBtn blockquote:after, .redGeneralBtn blockquote>:first-child:before, .redGeneralBtn blockquote>:first-child:after {
  border-color: var(--red);
}

.redGeneralBtn blockquote div:hover {
  background: rgba(var(--redRgb), 0.04) !important;
}

.redGeneralBtn blockquote div:active {
  background: rgba(var(--redRgb), 0.1) !important;
}

.movingBanner {
  animation: barberpole 30s linear infinite;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}
